* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #7cbbd8, #429c65); 
}


.search-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 300px;
}

input {
  padding: 10px;
  width: calc(100% - 20px);
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #ccc; 
}

.search-container .suggestions {
  position: absolute;
  width: 100%;
  top: calc(100% + 10px); 
  left: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  border-top: none;
  display: none; 
  z-index: 1; 
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  cursor: pointer;
  padding: 10px;
}

ul li:hover {
  background-color: #f1f1f1;
}

input {
  color: #333;
}


input:focus + .suggestions {
  display: block;
}
